set tabsize 4
set tabstospaces
set fill 79
set constantshow
#set morespace

include "~/.nano/c.nanorc"
include "~/.nano/conf.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/javascript.nanorc"
include "~/.nano/makefile.nanorc"
include "~/.nano/perl.nanorc"
include "~/.nano/php.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/rst.nanorc"
include "~/.nano/ruby.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/xml.nanorc"
